<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            display: flex;
            height: auto;
            width: auto;
            background-color: bisque;
            margin: 10px;
            padding: 30px;
        }
        p{
            text-align: center;
            font-family: sans-serif;
            font-size: medium;
            align-items: center;
        }
    </style>
</head>
<body>
    {{>navbar}}
    <header>

    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ullam omnis odit doloribus, at porro mollitia, officiis totam ipsum asperiores commodi quam quisquam vel distinctio. Sit veritatis suscipit accusantium, dignissimos, cupiditate maiores, enim quos autem sapiente doloribus adipisci reiciendis nesciunt itaque deserunt obcaecati minima harum rem iste odit. Perferendis exercitationem totam assumenda facere error labore perspiciatis optio quas dolores maiores! Ipsam quidem atque mollitia sapiente consequuntur vitae nam voluptatum quia. Eaque, aperiam dolorum. Facilis, sed! Cupiditate eligendi necessitatibus sunt molestiae provident nam dolores exercitationem? Labore, voluptatum aperiam? Voluptatum, facilis voluptas, ex laborum exercitationem ut perspiciatis facere recusandae assumenda repellat vero optio architecto iure a impedit, illum commodi eveniet laudantium molestiae nulla quam! Voluptatum animi et maiores delectus id libero error eligendi, accusantium corrupti pariatur. Molestiae iusto explicabo, repellat necessitatibus non nihil quidem, aperiam ad expedita beatae quaerat, consequatur eaque excepturi ipsum possimus commodi dicta soluta. Blanditiis fugiat voluptate numquam, incidunt voluptatum quaerat laudantium quas eveniet, nulla saepe et quam reiciendis excepturi similique consectetur illum delectus totam, fuga quos veritatis suscipit aliquam! Aliquid exercitationem recusandae perferendis pariatur eligendi iure aut sit doloribus? Quibusdam ut velit ad qui doloribus deleniti molestiae voluptatum natus quis aut deserunt et corrupti iusto, quasi minus voluptates?</p>
    </div>
    </header>
</body>
</html>